<header style="padding-bottom: 60px;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="/* margin-bottom: 30px; */background-color: #1a1a24 !important;">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="margin-top: 9px; margin-bottom: 9px;">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a class="btn outline" href="/users/logout" target="_self" role="button" style="border-radius: 40px;border: 2px solid #6428d8;">
                    <span>Logout</span>
                </a>
            </form>
        </div>
    </nav>
</header>