<!doctype html>

<head>
    <title>Nimbus</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="main">
        <header class="container navigation-bar">
            <a href="/">
                <img class="logo" src="/assets/img/logo/transparent.png" />
            </a>
            <nav>
                <a href="/about">about</a>
                <a href="/testimonials">testimonials</a>
                <a href="/team">team</a>
            </nav>
            <div class="header-right">
                {% if user %}
                <a href="/users/profile" target="_self" role="button" alt="Profile">
                    <span style="display: block;">
                        <img class="profile" src="https://cdn.discordapp.com/avatars/{{ user.discordID }}/{{ user.avi }}.png"/>
                    </span>
                </a>
                {% else %}
                <a class="btn" href="/auth/discord" target="_self" role="button">
                    <span>sign in</span>
                </a>
                {% endif %}
            </div>
        </header>
        <div id="content">
            <div class="top">
                <div class="container">
                    <h1>nimbus</h1>
                    <h4>
                        <span class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere sit amet dui nec
                            facilisis. Integer vel justo felis. Maecenas quis hendrerit ante. Sed enim felis, tristique
                            et nisi sit amet, maximus posuere odio. Maecenas sagittis luctus nulla ut vulputate.
                        </span>
                    </h4>
                    <span class="btn-group">
                        <a class="btn" href="/join" target="_self" role="button">
                            <span>Join Now</span>
                        </a>
                        <a class="btn outline" href="/features" target="_self" role="button">
                            <span>Features</span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="features">
                <div class="container">
                    <h2 style="font-weight: 400; padding-bottom: 12vh;">Take a look at our features <img style="padding-left: 18px;height: 15px;padding-bottom: 3px;"
                            src="/assets/img/icons/arrow-down.png"></h2>
                    <div class="row">
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/Restock.png" />
                            <h3>Restock Monitors</h3>
                            <p>We monitor thousands of web pages and send nimbus users an alert as soon as a restock
                                occurs.</p>
                        </div>
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/Support.png" />
                            <h3>24/7 Support</h3>
                            <p>Receive support any time, from our global staff. Whether it be help with bot setups, or
                                a general question, we are here to help!</p>
                        </div>
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/Tools.png" />
                            <h3>Tools/Software</h3>
                            <p>Our group is filled with tools to make you a better reseller. From account creators to
                                resell analysis tools, we will help you grow your business.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/WeeklyCalls.png" />
                            <h3>Weekly Calls</h3>
                            <p>Every week, we will host a call where we will discuss upcoming releases, events in the
                                sneaker world, and host Q & A’s. Additionally, we will occasionally have live bot setup
                                streams, where we show users how to setup their bots for releases. </p>
                        </div>
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/Carts.png" />
                            <h3>Carts</h3>
                            <p>We offer free carts to Adidas releases. From Yeezys to 4d’s, we have you covered.</p>
                        </div>
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/GroupBuys.png" />
                            <h3>Exclusive Group Buys</h3>
                            <p>We have spent years cultivating relationships with developers in the sneaker community.
                                As a nimbus member you can expect group buys to sold out bots, proxies, and services
                                multiple times a year.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/EarlyInfo.png" />
                            <h3>Early Info</h3>
                            <p>Get access to release and restock information before any other group.</p>
                        </div>
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/Guides.png" />
                            <h3>Release Guides</h3>
                            <p>Before every release our staff will put together comprehensive guides for our users
                                including early links, site lists, and recommended setups.</p>
                        </div>
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/BotSupport.png" />
                            <h3>Bot Support</h3>
                            <p>We understand that using a bot can be confusing, so as a nimbus member you can expect
                                guides and support from the staff to ensure you are making the most out of your bots.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/MiscInfo.png" />
                            <h3>Misc Info</h3>
                            <p>We understand that sneakers aren’t the only products that resell, so as a nimbus member
                                you will receive guides, notifications, and information on releases of Funkos tickets,
                                and much more…</p>
                        </div>
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/Trivia.png" />
                            <h3>Trivia Bots</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="col-sm feature">
                            <img src="/assets/img/icons/Ebay.png" />
                            <h3>Ebay Views Bot</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="join">
                <div class="container">
                    <h1>$50/mo</h1>
                </div>
            </div>
        </div>
    </div>
</body>